<div *ngIf="isSuccess" class="alert alert-success" role="alert">
  Đã thêm video thành công!
</div>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" >
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">ID</label>-->
<!--    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID"-->
<!--           formControlName="id"-->
<!--    >-->
<!--&lt;!&ndash;    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
<!--  </div>-->
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title"
           formControlName="title"
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Author</label>
    <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Title"
           formControlName="author"
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Title"
           formControlName="description"
    >
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

